<h1>Doładuj konto</h1>

<div class="top-mg-50">
  <h3>Stan konta: $<%= current_user.balance %></h3>
</div>

<div class="form-wrapper">
  <%= form_with(model: charge, local: true, url: '/charge', method: 'post') do |form| %>
    <% if charge.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @charge.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="top-mg-50"></div>
    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Kwota doładowania" %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :amount, id: :account_charge_amount, class: "w-100" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Kod potwierdzający" %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :check_code, id: :account_charge_check_code, class: "w-100" %>
      </div>
    </div>
    <div class="actions float-right">
      <%= form.submit "Zatwierdź", class: "btn btn-warning" %>
    </div>
    </div>
  <% end %>
