<h1>Aktualne wydarzenia</h1>

<div class="top-mg-50">
  <%= form_tag events_path, :method => 'get' do %>
    <div class="row top-mg-15">
      <div class="col-md-2">
        <label>Data początkowa</label>
      </div>
      <div class="col-md-10">
        <%= date_field_tag :start_date, params[:start_date], class: "w-100 form-control" %>
      </div>
    </div>
    <div class="row top-mg-15">
      <div class="col-md-2">
        <label>Data końcowa</label>
      </div>
      <div class="col-md-10">
        <%= date_field_tag :end_date, params[:end_date], class: "w-100 form-control" %>
      </div>
    </div>
    <div class="row top-mg-15">
      <div class="col-md-2 offset-8">
        <a href="/events">
          <button class="btn btn-warning">
            Resetuj filtrowanie
          </button>
        </a>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Filtruj", :name => nil, class: "btn btn-warning w-100" %>
      </div>
    </div>
  <% end %>
</div>

<div class="table-responsive top-mg-50">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Artysta</th>
      <th>Data</th>
      <th>Miejsca</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% current_events(@events).each do |event| %>
      <tr>
        <td><%= event.artist %></td>
        <td><%= format_date event.event_date %></td>
        <td><%= event.available_seats.length %></td>
        <td><%= link_to 'Szczegóły', event %></td>
        <% if current_user&.admin %>
          <td><%= link_to 'Edytuj', edit_event_path(event) %></td>
          <td><%= link_to 'Usuń', event, method: :delete, data: {confirm: 'Czy jesteś pewien?'} %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<% if current_user&.admin %>
  <div class="top-mg-50">
    <h1>Archiwalne wydarzenia</h1>
    <div class="table-responsive top-mg-50">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Artysta</th>
          <th>Data</th>
          <th>Miejsca</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% archived_events(@events).each do |event| %>
          <tr>
            <td><%= event.artist %></td>
            <td><%= format_date event.event_date %></td>
            <td><%= event.available_seats.length %></td>
            <td><%= link_to 'Szczegóły', event %></td>
            <% if current_user&.admin %>
              <td><%= link_to 'Edytuj', edit_event_path(event) %></td>
              <td><%= link_to 'Usuń', event, method: :delete, data: {confirm: 'Czy jesteś pewien?'} %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <br>
  </div>

  <button class="btn btn-warning">
    <%= link_to 'Nowe ogłoszenie', new_event_path %>
  </button>
<% end %>
