<p id="notice"><%= notice %></p>
<p id="message"><%= flash[:message] %></p>
<p>
  <strong>Artysta:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cena minimalna:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Cena maksymalna:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.event_date %>
</p>

<div class="top-mg-50">
  <%= render "tickets/tickets_list", tickets: @event.tickets %>
</div>

<div class="top-mg-50 new-ticket">
  <%= render "tickets/new_ticket", ticket: Ticket.new(:event_id => @event.id) %>
</div>

<button class="btn btn-warning top-mg-50">
  <%= link_to 'Powrót', events_path %>
</button>

