<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2>Formularz zawiera błędy:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-wrapper">
    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Imię i nazwisko" %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :name, id: :ticket_name, class: "w-100" %>
      </div>
    </div>

    <% if ticket.seat_id_seq? %>
      <%= form.hidden_field :seat_id_seq, id: :ticket_seat_id_seq, value: ticket.seat_id_seq %>
    <% end %>

    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Adres" %>
      </div>
      <div class="col-md-10">
        <%= form.text_area :address, id: :ticket_address, class: "w-100" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Cena" %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :price, id: :ticket_price, class: "w-100" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Email" %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :email_address, id: :ticket_email_address, class: "w-100" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <%= form.label "Telefon" %>
      </div>
      <div class="col-md-10">
        <%= form.text_field :phone, id: :ticket_phone, class: "w-100" %>
      </div>
    </div>

    <% if ticket.event_id? %>
      <%= form.hidden_field :event_id, id: :ticket_event_id, value: ticket.event_id %>
    <% end %>

    <div class="row actions float-right">
      <%= form.submit "Kup bilet", class: "btn btn-warning" %>
    </div>
  </div>
<% end %>
