<% if tickets.empty? %>
<% else %>
  <% if tickets.first.returned %>
    <h1 class="top-mg-50">Zwrócone bilety</h1>
  <% else %>
    <h1 class="top-mg-50">Kupione bilety</h1>
  <% end %>

  <div class="top-mg-50">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Imię i nazwisko</th>
        <th>Id miejsca</th>
        <th>Adres</th>
        <th>Cena</th>
        <th>Email</th>
        <th>Telefon</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= ticket.seat_id_seq %></td>
          <td><%= ticket.address %></td>
          <td><%= ticket.price %></td>
          <td><%= ticket.email_address %></td>
          <td><%= ticket.phone %></td>
          <td><%= link_to 'Szczegóły', ticket %></td>
          <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Usuń', ticket, method: :delete, data: {confirm: 'Czy jesteś pewien?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
<% end %>