<h1>Zakup biletu</h1>

<div class="top-mg-50">
  <% seats = params[:seat_ids] %>
  <% event = get_event(params[:event_id]) %>

  <p><strong>Artysta:</strong> <%= event.artist %></p>
  <p><strong>Data:</strong> <%= format_date(event.event_date) %></p>
  <p><strong>Ilość biletów:</strong> <%= seats.length %></p>
  <p>
    <strong>Wybrane miejsca:</strong>
    <% seats.each do |seat| %>
      <%= seat + ' ' %>
    <% end %>
  </p>
  <p><strong>Łączna cena:</strong> <span class="total-price"><%= total_price(seats) %></span></p>
</div>

<div class="form-wrapper">
  <form id="buy-form">
    <div class="field row">
      <div class="col-md-2">
        <label for="name">
          Imię i nazwisko
        </label>
      </div>
      <div class="col-md-10">
        <input id="name" name="name" type="text" class="w-100">
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <label for="address">
          Adres
        </label>
      </div>
      <div class="col-md-10">
      <textarea id="address" name="address" class="w-100">
      </textarea>
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <label for="email">
          Email
        </label>
      </div>
      <div class="col-md-10">
        <input type="email" id="email" name="email" class="w-100">
      </div>
    </div>

    <div class="field row">
      <div class="col-md-2">
        <label for="phone">
          Telefon
        </label>
      </div>
      <div class="col-md-10">
        <input type="text" id="phone" name="phone" class="w-100">
      </div>
    </div>
    <% if event.adult_only %>
      <div class="row field top-mg-35">
        <div class="col-md-12">
          <label for="adult">Potwierdzam, że jestem osobą pełnoletnią</label>
          <input type="checkbox" id="adult">
        </div>
      </div>
    <% end %>
  </form>
  <div class="row actions float-right">
    <button class="btn btn-warning confirm-buy-button">
      Zatwierdź
    </button>
  </div>
</div>

<div class="user-balance" style="display: none">
  <%= current_user.balance %>
</div>

<%= javascript_include_tag 'ticket', 'data-turbolinks-track': 'reload' %>