<div class="top-mg-50">
  <%= form_tag tickets_path, :method => 'get' do %>
    <div class="row top-mg-15">
      <div class="col-md-2">
        <label>Data początkowa</label>
      </div>
      <div class="col-md-10">
        <%= date_field_tag :start_date, params[:start_date], class: "w-100 form-control" %>
      </div>
    </div>
    <div class="row top-mg-15">
      <div class="col-md-2">
        <label>Data końcowa</label>
      </div>
      <div class="col-md-10">
        <%= date_field_tag :end_date, params[:end_date], class: "w-100 form-control" %>
      </div>
    </div>
    <div class="row top-mg-15">
      <div class="col-md-2">
        <label>Artysta</label>
      </div>
      <div class="col-md-10">
        <%= text_field_tag :artist, params[:artist], class: "w-100 form-control" %>
      </div>
    </div>
    <div class="row top-mg-15">
      <div class="col-md-2 offset-8">
        <a href="/tickets">
          <button class="btn btn-warning">
            Resetuj filtrowanie
          </button>
        </a>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Filtruj", :name => nil, class: "btn btn-warning w-100" %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'tickets_list', tickets: user_tickets(@tickets) %>